@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:600,100);
@import url(http://fonts.googleapis.com/css?family=Crimson+Text);
@font-face {
  font-family: "myfont";
  src: url("../fonts/myfont.eot");
  src: url("../fonts/myfont.eot?#iefix") format("eot"), url("../fonts/myfont.woff") format("woff"), url("../fonts/myfont.ttf") format("truetype"), url("../fonts/myfont.svg#myfont") format("svg");
  font-weight: normal;
  font-style: normal; }
.s:before {
  display: inline-block;
  font-family: "myfont";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.s-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.s-2x {
  font-size: 2em; }

.s-3x {
  font-size: 3em; }

.s-4x {
  font-size: 4em; }

.s-5x {
  font-size: 5em; }

.s-fw {
  width: 1.2857142857142858em;
  text-align: center; }

.s-napoleon:before {
  content: ""; }

.s-something:before {
  content: ""; }

.number {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  line-height: 1; }

.time {
  font-family: "museo-sans", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased; }

.person {
  font-family: "Crimson Text", serif;
  line-height: 1; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  visibility: visible;
  margin: 0;
  min-width: 320px;
  min-height: 320px; }

body {
  position: absolute;
  width: 100%;
  height: 100%; }

#content {
  height: 100%;
  overflow: hidden; }
  @media screen and (max-width: 320px) {
    #content {
      padding: 2px 2px 2px 2px; } }
  @media screen and (min-width: 320px) and (max-width: 1200px) {
    #content {
      padding: 4px 4px 2px 4px; } }
  @media screen and (min-width: 1200px) {
    #content {
      padding: 8px 8px 2px 8px; } }

#main {
  position: relative;
  height: 100%; }

.main-list {
  font-size: 0.8em; }
  .main-list .item {
    border: solid 1px black;
    padding: 10px; }

#splash-page {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 70px; }
  #splash-page #room-split {
    height: 100%;
    font-size: 0;
    white-space: nowrap; }
    @media screen and (max-width: 320px) {
      #splash-page #room-split section {
        left: 2px;
        top: 2px;
        width: calc(100% - 4px);
        height: calc(100% - 4px); } }
    @media screen and (min-width: 320px) and (max-width: 1200px) {
      #splash-page #room-split section {
        left: 4px;
        top: 4px;
        width: calc(100% - 8px);
        height: calc(100% - 8px); } }
    @media screen and (min-width: 1200px) {
      #splash-page #room-split section {
        left: 8px;
        top: 8px;
        width: calc(100% - 16px);
        height: calc(100% - 16px); } }
    .state-portrait #splash-page #room-split {
      white-space: normal; }
      .state-portrait #splash-page #room-split > .room-container {
        display: block;
        width: 100%;
        height: 25%;
        transition: height 0.25s cubic-bezier(0.23, 1, 0.32, 1); }
        .state-portrait #splash-page #room-split > .room-container.hovered {
          width: 100%;
          height: 28%; }
        .state-portrait #splash-page #room-split > .room-container.not-hovered {
          width: 100%;
          height: 24%; }
        .state-portrait #splash-page #room-split > .room-container.expanded {
          width: 100%;
          height: 100%; }
        .state-portrait #splash-page #room-split > .room-container.collapsed {
          width: 100%;
          height: 0%; }
    #splash-page #room-split > .room-container {
      display: inline-block;
      vertical-align: top;
      width: 25%;
      height: 100%;
      cursor: pointer;
      transition: width 0.25s cubic-bezier(0.23, 1, 0.32, 1); }
      #splash-page #room-split > .room-container.hovered {
        width: 28%; }
        #splash-page #room-split > .room-container.hovered .circle {
          transform: scale(1.2); }
          #splash-page #room-split > .room-container.hovered .circle .graph {
            transform: scale(1.2); }
      #splash-page #room-split > .room-container.not-hovered {
        width: 24%; }
      #splash-page #room-split > .room-container.expanded {
        width: 100%; }
      #splash-page #room-split > .room-container.collapsed {
        width: 0%; }
      #splash-page #room-split > .room-container > section {
        position: relative;
        background-color: #dfdfdf;
        color: #fff;
        overflow: hidden;
        white-space: normal;
        transition: background-color 1s linear; }
        .state-portrait #splash-page #room-split > .room-container > section {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 4vmin;
          box-sizing: border-box; }
        #splash-page #room-split > .room-container > section > .number {
          position: absolute;
          top: 1vmin;
          left: 4vmin;
          white-space: nowrap; }
          #splash-page #room-split > .room-container > section > .number > .graph {
            display: none; }
          #splash-page #room-split > .room-container > section > .number > p {
            margin: 0;
            font-size: 16vmin;
            -webkit-font-smoothing: antialiased; }
          .state-portrait #splash-page #room-split > .room-container > section > .number {
            position: static; }
            .state-portrait #splash-page #room-split > .room-container > section > .number > .graph {
              display: inline-block;
              vertical-align: middle;
              width: 12vh;
              height: 12vh;
              background-size: 100% 100%;
              transform: translateZ(0); }
              .state-portrait #splash-page #room-split > .room-container > section > .number > .graph.room-1 {
                background-image: url("/assets/images/icon-room-1.png"); }
              .state-portrait #splash-page #room-split > .room-container > section > .number > .graph.room-2 {
                background-image: url("/assets/images/icon-room-2.png"); }
              .state-portrait #splash-page #room-split > .room-container > section > .number > .graph.room-3 {
                background-image: url("/assets/images/icon-room-3.png"); }
              .state-portrait #splash-page #room-split > .room-container > section > .number > .graph.room-5 {
                background-image: url("/assets/images/icon-room-5.png"); }
            .state-portrait #splash-page #room-split > .room-container > section > .number > p {
              display: inline-block;
              vertical-align: middle;
              font-size: 13vh;
              margin-top: -2vh;
              text-indent: 3vh; }
        #splash-page #room-split > .room-container > section > .circle {
          position: absolute;
          left: calc(50% - 10vw);
          top: calc(50% - 10vw);
          width: 20vw;
          height: 20vw;
          border-radius: 100%;
          border: 3px solid #fff;
          overflow: hidden;
          transition: transform 0.25s cubic-bezier(0.23, 1, 0.32, 1);
          transform: translateZ(0); }
          .state-portrait #splash-page #room-split > .room-container > section > .circle {
            display: none; }
          #splash-page #room-split > .room-container > section > .circle > .graph {
            width: 100%;
            height: 100%;
            background-size: 100% 100%;
            background-position: center center;
            transition: transform 0.25s cubic-bezier(0.23, 1, 0.32, 1);
            transform: translateZ(0) scale(1); }
            #splash-page #room-split > .room-container > section > .circle > .graph.room-1 {
              background-image: url("/assets/images/room-1.png"); }
            #splash-page #room-split > .room-container > section > .circle > .graph.room-2 {
              background-image: url("/assets/images/room-2.png"); }
            #splash-page #room-split > .room-container > section > .circle > .graph.room-3 {
              background-image: url("/assets/images/room-3.png"); }
            #splash-page #room-split > .room-container > section > .circle > .graph.room-5 {
              background-image: url("/assets/images/room-5.png"); }
        #splash-page #room-split > .room-container > section > .availability {
          position: absolute;
          left: 0;
          top: 80%;
          width: 100%;
          font-size: 2.3vmin;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: .1vw; }
          #splash-page #room-split > .room-container > section > .availability > p:first-child {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            width: 360px;
            -webkit-font-smoothing: antialiased;
            line-height: 1.2;
            font-weight: 700;
            font-family: "museo-sans", sans-serif; }
          #splash-page #room-split > .room-container > section > .availability > .time {
            line-height: 0; }
          .state-portrait #splash-page #room-split > .room-container > section > .availability {
            position: static;
            text-align: right; }
            .state-portrait #splash-page #room-split > .room-container > section > .availability > p {
              margin: 0;
              line-height: 1.2;
              font-size: 18px; }
              .state-portrait #splash-page #room-split > .room-container > section > .availability > p:first-child {
                display: inline-block;
                max-width: 80%; }
            .state-portrait #splash-page #room-split > .room-container > section > .availability > .time {
              margin-top: 10px; }

#room-single {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden; }

#event-list {
  margin: 0;
  padding: 0; }
