header{
	height: 12vh;
	display: flex;
	justify-content: space-between;
	align-items: center;

	>.number{
		height: 100%;
		font-size: 9vh;
		margin: 0;

		>span{
			display: inline-block;
			vertical-align: middle;
			width: 10vh;
			height: 10vh;
			margin-right: 5px;
			background-size: 100% 100%;

			&.room-1{
				background-image: url('/assets/images/icon-room-1-black.png');
			}
			&.room-2{
				background-image: url('/assets/images/icon-room-2-black.png');
			}
			&.room-3{
				background-image: url('/assets/images/icon-room-3-black.png');
			}
			&.room-5{
				background-image: url('/assets/images/icon-room-5-black.png');
			}
		}
	}

	>button{
		@extend %resetButton;
		color: black;
		outline: 1px solid black;
		margin: 0 40px;
	}
}

.viewport{
	position: relative;
	height: 88vh;
	overflow: hidden !important;

	.needle{
		position: absolute;
		top: 0;
		right: 0;
		margin-top: -14px;
		width: 85%;
		height: 23px;

		&:before{
			content: "";
			display: block;
			position: absolute;
			left: -80px;
			width: 80px;
			height: 100%;
			background-image: url('/assets/images/needle-head.png');
		}

		&:after{
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			background-image: url('/assets/images/needle-fill.png');
		}
	}
}

#event-list{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;

	.item{
		white-space: nowrap;
		background: #d6d6d6;
		color: black;

		&:nth-child(odd) {
			background: #f3f3f3;
		}

		&.available{
			color: white;
		}

		&.occupied{
			color: white;
		}

		&.past{
			opacity: .25;
		}

		>.time{
			display: inline-block;
			vertical-align: top;
			height: 100%;
			color: black;
			background: white;
			width: 15%;
			min-width: 130px;
			text-align: right;

			>p{
				margin: 0;
				padding-right: 30px;
				text-transform: uppercase;
				font-weight: 700;
				font-size: 20px;
			}
		}

		>.event{
			display: inline-block;
			vertical-align: top;
			width: 85%;
			height: 100%;
			color: inherit;
			font-family: $font_museo;
			padding: 30px;
			box-sizing: border-box;
			font-size: 26px;

			h2{
				text-transform: capitalize;
				margin: 0;
				font-size: inherit;
			}

			>.name{
				font-size: inherit;
				margin: 0;
				line-height: 2.2;
				letter-spacing: 2px;
			}
		}
	}
}