&{
	cursor: none;
}

header{
	position: relative;
	z-index: 1;
	height: 12vh;
	padding: 0 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	>button{
		@extend %resetButton;
		font-size: 5vh;
		opacity: 1;
		@include transition(opacity .2s);

		&:hover{
			opacity: .5;
		}
	}
}

.gradient-pane{
	position: absolute;
	background: #dfdfdf;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 0;
	padding-bottom: 110px;

	>canvas{
		display: block;
		width: 100%;
		height: 100%;
	}

	@media screen and (max-height: 768px) {
	  padding-bottom: 80px;
	}
}

.picker{
	position: absolute;
	z-index: 2;
	margin: -40px;
	font-size: 80px;
	width: 80px;
	height: 80px;
	text-shadow: rgba(black, .075) 8px 8px 12px;
	pointer-events: none;
	opacity: 1;
	@include transform(scale(1));
	@include transition(transform .15s $easeOutBack, opacity .15s, text-shadow .2s);

	&:not(.dragging) {
		@extend .s;
		@extend .s-picker;
		color: white !important;
		background: transparent !important;

		&.press{
			text-shadow: rgba(black, .075) 2px 2px 10px;
			opacity: .45;
			@include transform(scale(.75));
		}

		&.hide{
			opacity: 0 !important;
		}
	}

	&.dragging{
		border-radius: 100%;
		border: 6px solid white;
		box-sizing: border-box;
		box-shadow: rgba(black, .075) 8px 8px 12px;
		@include transform(scale(.65));

		&.hovered{
			border: none;
			background: none !important;
			@extend .s;
			@extend .s-picker;
			@include transform(scale(1));
		}
	}
}

.toolbar{
	width: 100%;
	height: 110px;
	background: white;
	position: absolute;
	bottom: 0;
	z-index: 1;
	@include chromeOSDefaultCursor;

	@media screen and (max-height: 768px) {
	  height: 80px;
	}

	ul{
		margin: 0;

		>li{
			list-style-type: none;
		}
	}

	>.pattern-container{
		float: left;
		width: 30%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		>.pattern{
			padding: 0;
			display: inline-block;

			>li{
				display: inline-block;
				vertical-align: middle;
				margin: 0 12px;

				>button{
					@extend %resetButton;
					@extend .s;
					@extend .s-plus;
					width: 57px;
					height: 57px;
					border-radius: 100%;
					background: #cccccc;
					text-align: center;
					box-shadow: transparent 0 0 0 0px;
					@include transition(box-shadow .45s $easeOutExpo, background .75s $easeOutExpo);

					&.active, &:active{
						box-shadow: $color_blue 0 0 0 4px;
					}
				
					&.filled{
						&:before{
							font-size: 0;
						}
					}

					&:before{
						font-size: 34px;
						line-height: 57px;
						color: white;
					}
				}
			}
		}
	}

	>.room-container{
		float: left;
		width: 50%;
		height: 100%;
		background: #efefef;
		-webkit-font-smoothing: antialiased;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 3vw;

		>p{
			font-size: 28px;
			letter-spacing: 6px;
			text-transform: uppercase;
			font-family: $font_museo;
			font-weight: 700;
		}

		>.rooms{
			padding: 0;

			>li{
				display: inline-block;
				vertical-align: middle;
				margin: 0 12px;

				>button{
					@extend %resetButton;
					width: 57px;
					height: 57px;
					text-align: center;
					font-family: $font_museo;
					font-weight: 700;
					font-size: 40px;
					border-radius: 100%;
					@include transition(box-shadow .25s ease-out);
					box-shadow: transparent 0 0 0 0px;

					&.active, &:active{
						box-shadow: $color_blue 0 0 0 4px;
					}
				}
			}
		}
	}

	>.send{
		@extend %resetButton;
		float: left;
		position: relative;
		z-index: 10;
		width: 20%;
		height: 100%;
		background: $color_blue;
		color: white;
		font-weight: 700;
		letter-spacing: 6px;
		font-size: 28px;
		text-transform: uppercase;
		font-family: $font_museo;
		@include transition(background 0.2s);

		>span{
			width: 100%;
			text-align: center;
			opacity: 1;
			@include transition(opacity 0.2s);

			&.text-send{
				display: block;
			}

			&.text-sent{
				display: none;
			}
		}

		&:hover{
			background: darken($color_blue, 10%);
		}

		&:active{
			background: darken($color_blue, 20%);
		}

		&:disabled{
			background: #cccccc;
			>span{
				opacity: .25;
			}
		}

		&.clicked{
			>.text-send{
				display: none;
			}

			>.text-sent{
				display: block;
			}

			background: $color_green;
			@include animation(pop 750ms linear both);
		}
	}
}