@import url(http://fonts.googleapis.com/css?family=Raleway:600,100);
@import url(http://fonts.googleapis.com/css?family=Crimson+Text);

$font_raleway: 'Raleway', sans-serif;
$font_crimson: 'Crimson Text', serif;
$font_museo: 'museo-sans', sans-serif;


.number {
	font-family: $font_raleway;
	font-weight: 100;
	line-height: 1;
}

.time {
	font-family: $font_museo;
	font-weight: 300;
}

.person {
	font-family: $font_crimson;
	line-height: 1;
}