@import "bourbon/bourbon";
@import "icons";
@import "typography";

$split_padding_large: 8px;
$split_padding_medium: 4px;
$split_padding_small: 2px;

$break-large: 1200px;
$break-medium: 1024px;
$break-small: 320px;

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@mixin chromeOSDefaultCursor() {
  cursor: url(/assets/styles/cursor/default.cur) 8 8, default;
}

@mixin chromeOSPointerCursor() {
  cursor: url(/assets/styles/cursor/pointer.cur) 20 9, pointer;
}

@mixin chromeOSGrabCursor() {
  cursor: url(/assets/styles/cursor/grab.cur) 28 28, -webkit-grab !important;
}

@mixin chromeOSGrabbingCursor() {
  cursor: url(/assets/styles/cursor/grabbing.cur) 28 28, -webkit-grabbing !important;
}

@mixin chromeOSHelpCursor() {
  cursor: url(/assets/styles/cursor/help.cur) 8 8, help;
}

%resetButton{
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  @include chromeOSPointerCursor;
}

.grab{
	@include chromeOSGrabCursor;
}

.grabbing{
	@include chromeOSGrabbingCursor;
}

html, body{
	visibility: visible;
	margin: 0;
	min-width: 320px;
	min-height: 320px;
}

body{
	position: absolute;
	width: 100%;
	height: 100%;
}

.page{
	>div{
		position: relative;
		height: 100%;
	}
}

#content{
	height: 100%;
	overflow: hidden;
	@include chromeOSDefaultCursor;

	@media screen and (max-width: $break-small) {
	  padding: $split_padding_small $split_padding_small 0 $split_padding_small;
	}
	@media screen and (min-width: $break-small) and (max-width: $break-large) {
	  padding: $split_padding_medium $split_padding_medium 0 $split_padding_medium;
	}
	@media screen and (min-width: $break-large) {
	  padding: $split_padding_large $split_padding_large 0 $split_padding_large;
	}
}

#main{
	position: relative;
	height: 100%;
	-webkit-user-select: none;
}

.main-list{
	font-size: 0.8em;
	.item{
		border: solid 1px black;
		padding: 10px;
	}
}

#splash-page{
	position: absolute;
	width: 100%;
	height: 100%;
	padding-bottom: 70px;

	>div{
		position: static;
	}

	#home-nav{
		position: absolute;
		bottom: 0;
		height: 70px;
		width: 100%;
		left: 0;
		padding-top: 0 !important;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		@media screen and (max-width: $break-small) {
	    padding: $split_padding_small;

			$size: (70px - $split_padding_small);

	    button{
				width: $size;
				height: $size;
				font-size: $size;
	    }
	  }
	  @media screen and (min-width: $break-small) and (max-width: $break-large) {
	    padding: $split_padding_medium;

			$size: (70px - $split_padding_medium);

	    button{
				width: $size;
				height: $size;
				font-size: $size;
	    }
	  }
	  @media screen and (min-width: $break-large) {
	    padding: $split_padding_large;

			$size: (70px - $split_padding_large);

	    button{
				width: $size;
				height: $size;
				font-size: $size;
	    }
	  }

		button{
			@extend %resetButton;
			border-radius: 100%;
			color: white;
			background: $color_blue;
			@include transform(scale(1));
			@include transition(transform ease-out 0.1s, background 0.2s);

			&:hover{
				background: darken($color_blue, 10%);
				@include transform(scale(.93));
			}
		}
	}

	#room-split{
		height: 100%;
		font-size: 0;
		white-space: nowrap;

		@media screen and (max-width: $break-small) {
	    section{
  			left: $split_padding_small;
  			top: $split_padding_small;
  			width: calc(100% - #{$split_padding_small*2});
  			height: calc(100% - #{$split_padding_small*2});
	    }
	  }
	  @media screen and (min-width: $break-small) and (max-width: $break-large) {
	    section{
  			left: $split_padding_medium;
  			top: $split_padding_medium;
  			width: calc(100% - #{$split_padding_medium*2});
  			height: calc(100% - #{$split_padding_medium*2});
	    }
	  }
	  @media screen and (min-width: $break-large) {
	    section{
  			left: $split_padding_large;
  			top: $split_padding_large;
  			width: calc(100% - #{$split_padding_large*2});
  			height: calc(100% - #{$split_padding_large*2});
	    }
	  }

		.state-portrait &{
			white-space: normal;

			>.room-container{
				display: block;
				width: 100%;
				height: 25%;
				transition: height .25s cubic-bezier(0.23, 1, 0.32, 1);

				&.hovered{
					width: 100%;
					height: 28%;
				}

				&.not-hovered{
					width: 100%;
					height: 24%;
				}
			}
		}

		>.room-container{
			display: inline-block;
			vertical-align: top;
			width: 25%;
			height: 100%;
			transition: width .25s cubic-bezier(0.23, 1, 0.32, 1);
			@include chromeOSPointerCursor;

			&.hovered{
				width: 28%;

				.circle{
					transform: scale(1.2);

					.graph{
						transform: scale(1.2);
					}
				}
			}

			&.not-hovered{
				width: 24%;
			}

			&.expanded{
				width: 100%;
			}

			&.collapsed{
				width: 0%;
			}

			>section{
				position: relative;
				background-color: #dfdfdf;
				color: #fff;
  			overflow: hidden;
  			white-space: normal;
  			transition: background-color 1s linear;

				.state-portrait &{
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 4vmin;
					box-sizing: border-box;
				}

				>.number{
					position: absolute;
					top: 1vmin;
					left: 4vmin;
					white-space: nowrap;

					>.graph{
						display: none;
					}
					
					>p{
						margin: 0;
						font-size: 16vmin;
						-webkit-font-smoothing: antialiased;
					}

					.state-portrait &{
						position: static;

						>.graph{
							display: inline-block;
							vertical-align: middle;
							width: 12vh;
							height: 12vh;
							background-size: 100% 100%;
							transform: translateZ(0);

							&.room-1{
								background-image: url('/assets/images/icon-room-1.png');
							}

							&.room-2{
								background-image: url('/assets/images/icon-room-2.png');
							}

							&.room-3{
								background-image: url('/assets/images/icon-room-3.png');
							}

							&.room-5{
								background-image: url('/assets/images/icon-room-5.png');
							}
						}

						>p{
							display: inline-block;
							vertical-align: middle;
							font-size: 13vh;
							margin-top: -2vh;
							text-indent: 3vh;
						}
					}
				}

				>.circle{
					position: absolute;
	  			left: calc(50% - 10vw);
	  			top: calc(50% - 10vw);
					width: 20vw;
					height: 20vw;
					border-radius: 100%;
					border: 3px solid #fff;
					overflow: hidden;
					transition: transform .25s cubic-bezier(0.23, 1, 0.32, 1);
					transform: translateZ(0);

					.state-portrait &{
						display: none;
					}

					>.graph{
						width: 100%;
						height: 100%;
						background-size: 100% 100%;
						background-position: center center;
						transition: transform .25s cubic-bezier(0.23, 1, 0.32, 1);
						transform: translateZ(0) scale(1);

						&.room-1{
							background-image: url('/assets/images/room-1.png');
						}

						&.room-2{
							background-image: url('/assets/images/room-2.png');
						}

						&.room-3{
							background-image: url('/assets/images/room-3.png');
						}

						&.room-5{
							background-image: url('/assets/images/room-5.png');
						}
					}
				}

				>.availability{
					position: absolute;
					left: 0;
					top: 80%;
					width: 100%;
					font-size: 2.3vmin;
					text-align: center;
					text-transform: uppercase;
					letter-spacing: .1vw;

					>p:first-child{
						display: block;
						margin: 0 auto;
						max-width: 100%;
						width: 360px;
						-webkit-font-smoothing: antialiased;
						line-height: 1.2;
						font-weight: 700;
						font-family: $font_museo;
					}

					>.time{
						line-height: 0;
					}

					.state-portrait &{
						position: static;
						text-align: right;

						>p{
							margin: 0;
							line-height: 1.2;
							font-size: 18px;

							&:first-child{
								display: inline-block;
								max-width: 80%;
							}
						}

						>.time{
							margin-top: 10px;
						}
					}
				}
			}
		}
	}
}

#room-single{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	@import "detail-page";
}

#key-page{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	@import "key-page";
}

#sequencer-page{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	@import "sequencer-page";

	@media screen and (max-width: $break-small) {
	  padding-bottom: $split_padding_small;
	}
	@media screen and (min-width: $break-small) and (max-width: $break-large) {
	  padding-bottom: $split_padding_medium;
	}
	@media screen and (min-width: $break-large) {
	  padding-bottom: $split_padding_large;
	}
}