@import "icons";
@import "typography";

$split_padding_large: 8px;
$split_padding_medium: 4px;
$split_padding_small: 2px;

$break-large: 1200px;
$break-medium: 1024px;
$break-small: 320px;

html, body{
	visibility: visible;
	margin: 0;
	min-width: 320px;
	min-height: 320px;
}

body{
	position: absolute;
	width: 100%;
	height: 100%;
}

.main-list{
	font-size: 0.8em;
	.item{
		border: solid 1px black;
		padding: 10px;
	}
}

#splash-page{
	height: 100%;

	#room-split{
		height: 100%;
		box-sizing: border-box;
		font-size: 0;
		white-space: nowrap;

		@media screen and (max-width: $break-small) {
	    padding: $split_padding_small $split_padding_small 70px $split_padding_small;

	    section{
  			left: $split_padding_small;
  			top: $split_padding_small;
  			width: calc(100% - #{$split_padding_small*2});
  			height: calc(100% - #{$split_padding_small*2});
	    }
	  }
	  @media screen and (min-width: $break-small) and (max-width: $break-large) {
	    padding: $split_padding_medium $split_padding_medium 70px $split_padding_medium;

	    section{
  			left: $split_padding_medium;
  			top: $split_padding_medium;
  			width: calc(100% - #{$split_padding_medium*2});
  			height: calc(100% - #{$split_padding_medium*2});
	    }
	  }
	  @media screen and (min-width: $break-large) {
	    padding: $split_padding_large $split_padding_large 70px $split_padding_large;

	    section{
  			left: $split_padding_large;
  			top: $split_padding_large;
  			width: calc(100% - #{$split_padding_large*2});
  			height: calc(100% - #{$split_padding_large*2});
	    }
	  }

		.state-portrait &{
			white-space: normal;

			>.room-container{
				display: block;
				width: 100%;
				height: 25%;
				transition: height .25s cubic-bezier(0.23, 1, 0.32, 1);

				&.hovered{
					width: 100%;
					height: 28%;
				}

				&.not-hovered{
					width: 100%;
					height: 24%;
				}

				&.expanded{
					width: 100%;
					height: 100%;
				}

				&.collapsed{
					width: 100%;
					height: 0%;
				}
			}
		}

		>.room-container{
			display: inline-block;
			vertical-align: top;
			width: 25%;
			height: 100%;
			cursor: pointer;
			transition: width .25s cubic-bezier(0.23, 1, 0.32, 1);

			&.hovered{
				width: 28%;

				.circle{
					transform: scale(1.2);

					.graph{
						transform: scale(1.2);
					}
				}
			}

			&.not-hovered{
				width: 24%;
			}

			&.expanded{
				width: 100%;
			}

			&.collapsed{
				width: 0%;
			}

			>section{
				position: relative;
				background-color: #dfdfdf;
				color: #fff;
  			overflow: hidden;
  			white-space: normal;
  			transition: background-color 1s linear;

				>.number{
					position: absolute;
					top: 1vmin;
					left: 4vmin;
					font-size: 12vmin;
					-webkit-font-smoothing: antialiased;
				}

				>.circle{
					position: absolute;
	  			left: calc(50% - 20vmin);
	  			top: calc(50% - 20vmin);
					width: 40vmin;
					height: 40vmin;
					border-radius: 100%;
					border: 2px solid #fff;
					overflow: hidden;
					transition: transform .25s cubic-bezier(0.23, 1, 0.32, 1);
					transform: translateZ(0);

					.state-portrait &{
						left: calc(50% - 7.5vh);
	  				top: calc(50% - 7.5vh);
						width: 15vh;
						height: 15vh;
					}

					>.graph{
						width: 100%;
						height: 100%;
						background-size: 100% 100%;
						background-position: center center;
						transition: transform .25s cubic-bezier(0.23, 1, 0.32, 1);
						transform: translateZ(0) scale(1);

						&.room-1{
							background-image: url('/assets/images/room-1.png');
						}

						&.room-2{
							background-image: url('/assets/images/room-2.png');
						}

						&.room-3{
							background-image: url('/assets/images/room-3.png');
						}

						&.room-5{
							background-image: url('/assets/images/room-5.png');
						}
					}
				}

				>.availability{
					position: absolute;
					left: 0;
					bottom: 2vmin;
					width: 100%;
					font-size: 2.5vmin;
					font-weight: 600;
					text-align: center;
					text-transform: uppercase;
					font-family: $font_raleway;
					letter-spacing: .1vw;

					>p:first-child{
						-webkit-font-smoothing: antialiased;
						line-height: 0;
					}

					>.time{
						@extend .number;
					}

					.state-portrait &{
						left: auto;
						right: 4vmin;
						width: 50%;
						text-align: right;
					}
				}
			}
		}
	}
}