
<div id="splash-page">
	<div id="room-split">
		<% _.each( rooms, function( data, key ){ %>
			<div class="room-container">
				<section id="room-<%= key %>" class="room" data-id="<%= key %>">
					<div class="number"><%= key %></div>
					<div class="graph"></div>
					<div class="person">Charlie Clark</div>
				</section>
			</div>
		<% }); %>
	</div>
</div>

<div id="room-single"></div>

<!-- TEST -->
<div class="test" style="position:absolute;top:0;">
	<div>
		<input id="hex-input" type="text"></input>
		<button id="hex">hex</button>
	</div>
	<button id="test">test</button>
	<input class="color" type="color" name="favcolor">
</div>