<header>
	<button class="s s-back back"></button>
	<button class="s s-close close"></button>
</header>

<div class="gradient-pane">
	<canvas></canvas>
</div>

<div class="picker"></div>

<div class="toolbar">
	<div class="pattern-container">
		<ul class="pattern">
			<li><button class="color"></button></li>
			<li><button class="color"></button></li>
			<li><button class="color"></button></li>
			<li><button class="color"></button></li>
			<li><button class="color"></button></li>
		</ul>
	</div>
	<div class="room-container">
		<p>Colorfill Room</p>
		<ul class="rooms">
			<li><button class="room" data-id="1">1</button></li>
			<li><button class="room" data-id="2">2</button></li>
			<li><button class="room" data-id="3">3</button></li>
			<li><button class="room" data-id="5">5</button></li>
		</ul>
	</div>
	<button class="send">
		<span class="text-send">Send</span>
		<span class="text-sent">Sent</span>
	</button>
</div>